body {
    background-image: url("img/back2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 5px;
}

p {
    color: #eee;
    margin-top: 20px;
}

a {
    color: #ddd;
}

.frame {
    width: 100%;
    height: 400px;
    margin-top: -5px;
    background-color: #000;
    border: 10px solid #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

form {
    background-color: #eee;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.donate {
    margin-top: 100px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.donate:hover {
    opacity: 1;
}

.donate img {
    transition: .6s;
}
.donate .panel:hover img{
    transform: scale(1.3);
}

button.hidden-icon {
    margin-top: 10px;
    border: 0;
}

.donate-mobile {
    margin-top: 10px;
    opacity: 0;
    transition: 2s;
}