html {
  font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

:root {
  --link-color: #ffb5af;
  --theme-color: #ffdbd8;
  --shadow-right-bottom-color: #d99a95;
  --shadow-left-top-color: #ffd0c9;
  --input-left-top-color: #d9d9d9;
  --input-right-bottom-color: #ffffff;

  --return-button-color: #ffb5af;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  background-color: var(--theme-color);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  width: 300px;
  height: 450px;
  border-radius: 30px;
  box-shadow:  20px 20px 60px var(--shadow-right-bottom-color), 
              -20px -20px 60px var(--shadow-left-top-color);
  transform: rotateY(0deg);
  transition: 1s cubic-bezier(0.83, 0, 0.17, 1);
}

.card.turn-to-back {
  transform: rotateY(180deg);
  box-shadow:  -20px 20px 60px var(--shadow-right-bottom-color), 
              20px -20px 60px var(--shadow-left-top-color);
  width: 80%;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--theme-color);
  overflow: hidden;
}

/* 正面 */

.card-front {
  position: absolute;
}

.card-back {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.card-front img {
  width: 100%;
}

.card-front .desc {
  width: 80%;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card-front .desc .text {
  font-size: 20px;
  color: var(--shadow-right-bottom-color);
}

.card-front .desc .link {
  font-size: 12px;
}

.card-front form {
  flex: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-front form #media-url {
  line-height: 30px;
  outline: none;
  padding-left: 20px;
  border: 0;
  border-radius: 25px;
  font-size: 12px;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 4px var(--input-left-top-color), 
              inset -2px -2px 4px var(--input-right-bottom-color);
}

.card-front form #media-url:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

.card-front form .apis {
  width: 100%;
  line-height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--shadow-right-bottom-color);
}

.card-front form .play {
  width: 40%;
  line-height: 30px;
  align-self: flex-end;
  outline: none;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(145deg, #838383, #6e6e6e);
  box-shadow:  2px 2px 8px #686868, 
                -2px -2px 8px #8c8c8c;
  color: #fff;
  font-size: 14px;
}

.card-front form .play:hover {
  background: #7a7a7a;
}

.card-front form .play:active {
  background: linear-gradient(145deg, #6e6e6e, #838383);
  box-shadow:  2px 2px 4px #686868, 
                -2px -2px 4px #8c8c8c;
}

/* 背面 */

.card .card-back {
  display: flex;
  flex-direction: column;
}

.card .card-back .player {
  flex: 9;
  width: 100%;
}

.card .card-back .button-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card .card-back .return {
  outline: none;
  border: 0;
  padding: 6px 6px 4px 6px;
  border-radius: 999px;
  background: var(--return-button-color);
  box-shadow:  2px 2px 4px var(--shadow-right-bottom-color), 
                -2px -2px 4px var(--shadow-left-top-color);
  cursor: pointer;
}

.card .card-back .return:hover {
  background: linear-gradient(145deg, #e6a39e, #ffc2bb);
}

.card .card-back .return:active {
  box-shadow: inset 2px 2px 4px var(--shadow-right-bottom-color), 
            inset -2px -2px 4px var(--shadow-left-top-color);
}

@media screen and (max-width: 667px) and (orientation: landscape) {
  .card.turn-to-back {
    height: 94vh;
  }

  .card .card-back .player {
    flex: 8.5;
  }

  .card .card-back .button-container {
    flex: 1.5;
  }
}

@media screen and (min-width: 668px) and (max-width: 812px) and (orientation: landscape) {
  .card.turn-to-back {
    width: 62.8%;
    height: 90vh;
  }

  .card .card-back .player {
    flex: 8.5;
  }

  .card .card-back .button-container {
    flex: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  .card.turn-to-back {
    height: 800px;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #999999;
    --theme-color: #000000;
    --shadow-right-bottom-color: #0f0f0f;
    --shadow-left-top-color: #151515;
    --input-right-bottom-color: #6d6d6d;
    --input-left-top-color: #939393;
    --return-button-color: #E43F5A;
  }

  .card-front, .card-back {
    background-color: #1a1a1d;
  }

  .card-front img {
    opacity: .8;
  }

  .card-front .desc .text,
  .card-front form .apis,
  .card-front form #media-url {
    color: #d7d7d7;
  }

  .card-front form #media-url {
    background-color: gray;
  }

  .card-front form #media-url:hover {
    background: linear-gradient(145deg, #737373, #898989);
  }

  .card-front form .play {
    background: #E43F5A;
    box-shadow: none;
  }
}